@{
    ViewBag.Title = "Conoce el local";
}

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <h2>@ViewBag.Title.</h2>

                <div class="row">
                    <div class="col-lg-6">
                        <p>
                            Saguaro Modas comenzo sus actividades el 19 de octubre del año 2010, su dueña y creadora es Mariela Masera (38 años), en el año 2013 Melina Salomon (34 años),
                            actualmente empleada, comenzo su actividad como empleada del local. Encontranos por calle Juan de Garay 2640 en horario comercial.
                            Contamos con una amplia variedad de ropa para hombre, mujeres, niños y bebes.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="~/img/Imagen1.jpeg" width="500" />
                    </div>
                </div>

                <h2>Los esperamos!</h2>
            </div>
        </div>
    </div>
</div>

